[user]
	email = flo.straubinger@pm.me
	name = Florian Straubinger
	signingkey = D55FE5B65D228F58
[gpg]
	program = gpg2
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[cola]
	spellcheck = false
[url "https://invent.kde.org/"]
	insteadOf = kde:
[url "ssh://git@invent.kde.org/"]
	pushInsteadOf = kde:
