[user]
	email = git@f-str.de
	name = Florian Straubinger
	signingkey = B6C8545CE7808AC5
[gpg]
	program = gpg2
[commit]
	gpgsign = true
[tag]
	gpgsign = true
    sort = -taggerdate
[safe]
	directory = /opt/flutter
[core]
	autocrlf = input
	editor = vim
    compression = 9
    preloadindex = true
    whitespace = error
[init]
    defaultBranch = main
[status]
    branch = true
    showStash = true
    showUntrackedFiles = all
[push]
    autoSetupRemote = true
    default = current
    followTags = true
[pull]
    default = current
    rebase = true
[branch]
    sort = -committerdate
[rerere]
	enabled = true
