[user]
	email = git@f-str.de
	name = Florian Straubinger
	signingkey = B6C8545CE7808AC5
[gpg]
	program = gpg2
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[safe]
	directory = /opt/flutter
[core]
	autocrlf = input
	editor = vim
