# Create VPN Connection to University
alias vpn='sudo openvpn --cd $HOME/.openvpn --config stud-ext.ovpn'

# Change Git Profiles
alias cgu='bash $HOME/.changeGitUser.sh'

# Update all pip packages in an environment
alias pipup='pip freeze — local | grep -v ‘^\-e’ | cut -d = -f 1 | xargs -n1 pip install -U'

# Use Neovim instead of vim
alias vim='nvim'

# Exit a virtual environment
alias exitvenv='deactivate'

# Use Bat instead of cat
alias cat='bat'

# Use prettyping instead of normal ping
alias ping='prettyping --nolegend'

# Use ncdu instead of du
alias du='ncdu --color dark -rr -x --exclude .git --exclude node_modules'

# Merge PDFs
alias pdfmerge='gs -dBATCH -dNOPAUSE -q -sDEVICE=pdfwrite -dPDFSETTINGS=/prepress -sOutputFile=merged.pdf'

# Shrink PDF size
alias pdfshrink='gs -sDEVICE=pdfwrite -dCompatibilityLevel=1.4 -dPDFSETTINGS=/default -dNOPAUSE -dQUIET -dBATCH -dDetectDuplicateImages -dCompressFonts=true -r150 -sOutputFile=shrinked.pdf'

# Show all files when making a ls
alias ls='ls -a'

# Determin public IP
alias myip='wget http://checkip.dyndns.org -O - -o /dev/null | cut -d: -f 2 | cut -d\< -f 1'
