# Create VPN Connection to University
alias vpn='sudo openvpn --cd $HOME/.openvpn --config stud-ext.ovpn --auth-user-pass $HOME/.openvpn/credentials/unisso'

# Change Git Profiles
alias cgu='bash $HOME/.changeGitUser.sh'

# Update all pip packages in an environment
alias pipup='pip freeze — local | grep -v ‘^\-e’ | cut -d = -f 1 | xargs -n1 pip install -U'

# Use Neovim instead of vim
alias vim='nvim'

# Exit a virtual environment
alias exitvenv='deactivate'

# Use Bat instead of cat
alias cat='bat'

# Use prettyping instead of normal ping
alias ping='prettyping --nolegend'

# Use ncdu instead of du
alias du='ncdu --color dark -rr -x --exclude .git --exclude node_modules'

# Merge PDFs
alias pdfmerge='gs -dBATCH -dNOPAUSE -q -sDEVICE=pdfwrite -dPDFSETTINGS=/prepress -sOutputFile=merged.pdf'

# Shrink PDF size
alias pdfshrink='gs -sDEVICE=pdfwrite -dCompatibilityLevel=1.4 -dPDFSETTINGS=/default -dNOPAUSE -dQUIET -dBATCH -dDetectDuplicateImages -dCompressFonts=true -r150 -sOutputFile=shrinked.pdf'

# Show all files when making a ls
# alias ls='ls -a --color=tty'

# Use exa instead of ls
alias ls='eza -a'

# Use exa instead of ll
alias ll='eza -lag@'

# Determin public IP
alias myip='wget http://checkip.dyndns.org -O - -o /dev/null | cut -d: -f 2 | cut -d\< -f 1'

# Tar with all needed params
alias tarp='tar cfvz'

# Remove all files from a directory but keep the directory structure alive
alias cleandir='find . ! -type d -delete'

# youtube-dl fork
alias youtube-dl='yt-dlp'

# Activate Conda
alias startconda='source /opt/anaconda/bin/activate root'

# Map Wacom table to main monitors
alias mapwacom='xinput map-to-output 19 DisplayPort-3'

# Executes kubectl get pods every second to provide a "live" update of the pods
alias watchpods='watch -n 1 -t kubectl get pods'

alias watchgpu='watch -n 1 -t nvidia-smi'
